.container{
    position: relative;
}
.sub{
    position: absolute;
    background-color: aqua;
    transform: scale(0);
}
.container:focus .sub{
    transform: scale(1);
    cursor: pointer;

}